<div class="container color-dark">
  <div class="col">
    <p>Add task</p>
  </div>
  <div class="col">
    <p>Your task list ({{ tasks.length }})</p>
    <button *ngIf="tasks.length > 0" class="btn" (click)="clearData()">Clear</button>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="item" placeholder="Enter title.." [(ngModel)]="taskText">
      <ng-select
        [items]="groups"
        placeholder="Choose group.."
        [(ngModel)]="selectedGroup"
        [ngModelOptions]="{standalone: true}">
      </ng-select>
      <input type="submit" class="btn" value="Add task" (click)="addTask()">
    </form>
  </div>
  <div class="col">
    <p *ngIf="tasks.length == 0">Your task list is empty</p>
    <input *ngIf="tasks.length > 1" type="text" class="txt" name="search" placeholder="Enter query.." [(ngModel)]="queryText">
    <div class="task" *ngFor="let task of tasks | filter : queryText; let i = index" [ngClass]="{completed: task.isCompleted}">
      <p class="task__text">{{ task.text }}</p>
      <div class="task__controls">
        <ng-select
          [items]="groups"
          placeholder="Unassigned"
          [(ngModel)]="task.groupId"
          [ngModelOptions]="{standalone: true}">
        </ng-select>
        <button class="task__btn" (click)="completeTask(i)">&#10004;</button>
      </div>
    </div>
  </div>
</div>
