.container {
  display: grid;
  grid-template-columns: 50% auto;
}
.col {
  padding: .4em 1.3em;
}
.color-dark {
  background: #2885C4;
}
.color-light {
  background: #57B3F1;
}
.btn {
  border: 0;
  display: block;
  padding: 1em 3em;
  background: #A5F883;
  color: #003A61;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}
input.txt {
  border: 0;
  padding: 8px 10px;
  width: 80%;
  margin-bottom: 1em;
  margin-top: 16px;
  min-height: 36px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #333;
  font-family: 'Raleway', 'Arial'!important;
  font-size: 16px;
}

.task {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: #3FA0E1;
  &__text {
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
  }
  &__btn {
    background: #A5F883;
    padding: .5em;
    cursor: pointer;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    max-height: 34px;
    margin: 0 .3em;
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.completed {
    background: #dcd9d9;
    color: #000000;
    & .task__text {
      text-decoration: line-through;
    }
    & .task__btn {
      pointer-events: none;
      opacity: 0.4;
    }
  }
}
.ng-select {
  width: 80%;
}
